<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/signUp.css">
</head>

<body>
    <div class="container">
      <form action="/signIn" method="post" class="width-50 padding-horizontal">
        <h1>Welcome back</h1>
        
        <div class="button">
            <img src="https://img.icons8.com/?size=100&id=V5cGWnc9R4xj&format=png&color=000000" width="30" height="30">
            Sign in with Google
        </div>
        
        <div class="break-section">
            <div class="line"></div>
            <span>or</span>
            <div class="line"></div>
        </div>

        <p>Email</p>
        <input type="text" name="username" class="corner-5" autofocus>
        <p>Password</p>
        <input type="password" name="password" class="corner-5">

        <div class="spacer"></div>
        <button type="submit" class="button btn-signUp">Sign In</button>
        <div class="spacer"></div>

        <span>Not have an account? </span>
        <a href="/signUp" class="green-text text-bold">
          Sign Up
        </a>


      </form>

      <div class="width-50 padding-horizontal">
        <div class="welcome-section">
            <div class="text-above">
                <h1>Welcome to Travel Tracker</h1>
                <p class="size-18">Note down all your visited places in the world map with just a click. Let's create your account to start tracking now</p>
            </div>
        </div>
      </div>
  </div>
</body>

</html>